@model IEnumerable<WebMvc.Models.User>;
@{
    ViewData["Title"] = "Index";
}

<h2>Account Panel</h2>


<div class="row pt-3">
    <div class="col-12 text-left">
        @Html.ActionLink("Create", "Create", "Account", null, new { @class = "btn btn-success"})
    </div>
    <div class="col-12">
        @foreach (var user in Model)
        {
            <div class="row mb-4 text-center">
                <div class="col-4">
                    <h6>Firstname:</h6> @user.FirstName
                </div>
                <div class="col-4">
                    <h6>Lastname:</h6> @user.LastName
                </div>
                <div class="col-4">
                    <h6>Username:</h6> @user.UserName
                </div>
            </div>
        }
    </div>
</div>