<div class="row pt-5">
  <div class="col-1">
    <i class="fa fa-camera"></i>
  </div>
  <div class="offset-1 col-6">
    Cheesburger
  </div>
  <div class="offset-1 col-1">
    <i class="fa fa-shopping-basket"></i>
  </div>
  <div class="col-12 offset-md-2 col-md-6 ingriedent">
    <p class="d-inline-block" style="line-height: 0.1px;">Item&nbsp;</p>
  </div>
</div>

<div class="pagination d-flex justify-content-center pt-5">
  <pagination
    [maxSize]="6"
    [directionLinks]="false"
    [itemsPerPage]="5"
    [totalItems]="50"
    class="pagination__custom"
  ></pagination>
</div>
