<div class="basket">
  <div class="basket-content">
    <div class="container">
      <div class="row text-center pt-5">
        <div class="col-md-1 col-2">Price</div>
        <div class="offset-md-1 col-6">
          Product name
        </div>
        <div class="col-md-2 col-4">
          Quantity
        </div>
      </div>

      <div
        class="basket-content__items"
        *ngFor="let item of basketItems; let i = index"
      >
        <div class="row py-5" *ngIf="basketItems != null">
          <div class="col-md-1 col-2 text-center">{{ item.productPrice }}$</div>
          <div class="col-6 offset-md-1 col-md-6 text-left">
            {{ item.productName }}
          </div>
          <div class="col-4 col-md-2 text-center">
            <a
              type="button"
              class="quantity"
              (click)="changeQuantity(i, 'plus')"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
            ></a>
            {{ item.quantity }}
            <a
              type="button"
              class="quantity"
              (click)="changeQuantity(i, 'minus')"
            >
              <i class="fa fa-minus" aria-hidden="true"></i
            ></a>
          </div>
          <div class="col-12 col-md-1 text-center">
            <a type="button" (click)="deleteItem(i)">
              <i class="fa fa-trash-o" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-6">
          <button
            (click)="clickBuy()"
            class="btn btn-buy"
            [disabled]="basketItems.length == 0"
          >
            <i class="fa fa-usd" aria-hidden="true"></i> Buy
          </button>
        </div>
        <div class="col-6 text-right">
          Total Price: {{ totalPrice | number }}$
        </div>
      </div>

      <div class="row text-center" *ngIf="orderPanel">
        <div class="col-12">
          <app-order
            [orderItems]="basketItems"
            [totalPrice]="totalPrice"
          ></app-order>
        </div>
      </div>
    </div>
  </div>
</div>
