<div class="basket">
  <div class="basket-content">
    <div class="container">
      <div class="row text-center pt-5">
        <div class="col-md-1 col-2">Price</div>
        <div class="offset-md-1 col-6">
          Product name
        </div>
        <div class="col-md-2 col-4">
          Quantity
        </div>
      </div>

      <div *ngFor="let item of basketItems; let i = index">
        <div class="row pt-5" *ngIf="basketItems != null">
          <div class="col-md-1 col-2 text-center">{{ item.itemPrice }}$</div>
          <div class="col-6 offset-md-1 col-md-6 text-left">
            {{ item.itemName }}
          </div>
          <div class="col-4 col-md-2 text-center">
            <a
              type="button"
              class="quantity"
              (click)="changeQuantity(i, 'plus')"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
            ></a>
            {{ item.quantity }}
            <a
              type="button"
              class="quantity"
              (click)="changeQuantity(i, 'minus')"
            >
              <i class="fa fa-minus" aria-hidden="true"></i
            ></a>
          </div>
          <div class="col-12 col-md-1 text-center">
            <a type="button" (click)="deleteItem(i)">
              <i class="fa fa-trash-o" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="row text-right pt-5">
        <div class="col-12 pt-5">Total Price: {{ totalPrice | number }}$</div>
      </div>
    </div>
  </div>
</div>
