<div class="nav" [ngStyle]="{ 'padding.px': navStyle }">
  <div class="text-center" style="width: 100%;">
    <a type="button">Start</a>
    <a type="button">Menu</a>
    <a type="button">About</a>
    <a type="button">Contact</a>
  </div>
</div>

<br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br />
