@import "../../variables";

.nav {
  background-color: $dark-sienna;
  border-bottom: 3px solid $bronze;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &-box {
    a {
      position: relative;
      color: $crayola;
      font-size: 20px;
      margin: 0 8px;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      text-decoration: none;

      &::before {
        content: "";
        position: absolute;
        top: 35px;
        width: 0px;
        height: 2px;
        background-color: darken($color: $crayola, $amount: 20);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
      }

      &:hover {
        color: darken($color: $crayola, $amount: 20);

        .basket {
          background-color: darken($color: $crayola, $amount: 20);
        }

        &::before {
          width: 100%;
        }
      }

      .basket {
        font-size: 15px;
        display: inline-block;
        height: 25px;
        width: 25px;
        margin-left: 5px;
        background-color: $crayola;
        border-radius: 50%;
        color: $dark-sienna;
        -webkit-transform: all 200ms linear;
        transform: all 200ms linear;
      }
    }
  }
}
