<div id="contact-href" class="contact">
  <div class="container contact-box pt-3">
    <div class="row text-center">
      <div class="col-md-4 col-12">
        <h4 class="py-4">Address data</h4>
        <div class="row">
          <div class="col-6"><h4>Address:</h4></div>
          <div class="col-6"><p>00-000 Katowice Street 00</p></div>
        </div>
        <div class="row">
          <div class="col-6">
            <h4>Phone:</h4>
          </div>
          <div class="col-6">
            123-321-123
          </div>
        </div>
        <div class="row">
          <div class="col-6"><h4>E-mail:</h4></div>
          <div class="col-6">random@gmail.com</div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <h4 class="py-4">Opening hours</h4>
        <div class="row">
          <div class="col-6"><h4>Daily:</h4></div>
          <div class="col-6"><p>8.00-22.00</p></div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <h4 class="py-4">Free delivery to 10 kilometers</h4>
        <div class="col-12 pb-4">
          <i class="fa fa-money" aria-hidden="true"></i> Only Cash
        </div>
      </div>
    </div>
  </div>
</div>
