@using Microsoft.AspNetCore.Authentication

<div class="container pt-5">
    <div class="row text-center pt-5">
        <div class="col-12 pt-5">
            <h1 class="pt-5">Restaurant System V1</h1>
        </div>
    </div>
</div>
