<div id="about-href" class="about">
  <div class="about-first">
    <div class="about-first-box">
      <h2 class="about-first-box__title">About</h2>
    </div>
  </div>
  <div class="about-second">
    <div class="about-second-box-1 col-md-6 col-12 p-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      consequatur earum ullam, sequi, quo nemo delectus doloremque pariatur
      accusamus voluptas ut laborum deleniti nobis neque dolore fugit similique.
      Quaerat, quo? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Perspiciatis qui tempore porro aperiam, cum nemo quo eligendi? Adipisci,
      impedit. Error alias quam quae aut assumenda aperiam minima, non nihil
      officia.
    </div>
    <div class="about-second-box-2 offset-md-6 col-md-6 col-12 p-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      consequatur earum ullam, sequi, quo nemo delectus doloremque pariatur
      accusamus voluptas ut laborum deleniti nobis neque dolore fugit similique.
      Quaerat, quo? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Perspiciatis qui tempore porro aperiam, cum nemo quo eligendi? Adipisci,
      impedit. Error alias quam quae aut assumenda aperiam minima, non nihil
      officia.
    </div>
  </div>
</div>
