@model WebMvc.ViewModels.CreateMenuItemViewModel


<h2>Create Menu Item</h2>

<div class="row pt-3">
    <div class="col-12 text-center">
        @using (Html.BeginForm("CreateItemPOST", "Menu", FormMethod.Post))
        {
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MenuItem.Name, new { placeholder = "Name", @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.MenuItem.Price, new { placeholder = "Price", @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.TextAreaFor(m => m.MenuItem.Description, new { placeholder = "Description", @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.MenuItem.MenuTypeId, Model.MenuType, new { @class = "form-control" })
                </div>
            </div>
            <div class="offset-3 col-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

