@model WebMvc.ViewModels.CreateMenuItemViewModel


<h2>Create Menu Item</h2>

<div class="row">
    <div class="col-12 text-center">
        <form asp-action="CreateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

