@model IEnumerable<WebMvc.Models.Orders>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/js/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script src="~/js/receiveOrder.js" type="text/javascript"></script>

@foreach (var order in Model)
{
    @if (order.OrderStatus == WebMvc.Helpers.CustomEnums.OrderStatus.Created)
    {
        <div class="col-md-4 col-12" id="order-@order.OrderId">
            <div class="card mb-2">
                <h5 class="card-header">New Order</h5>
                <div class="card-body">
                    @foreach (var item in order.OrderItems)
                    {
                        <p class="card-text">Name: @item.ProductName</p>
                        <p class="card-text mb-3 border-bottom">Quantity: @item.Quantity</p>
                    }

                    <button class="btn btn-success" id="ready-@order.OrderId">Ready</button>

                    <script>
                                    $(document).ready(function () {
                                        $("#ready-@order.OrderId").click(function () {
                                            var orderId = @order.OrderId;
                                               
                                            $.ajax({
                                                type: "POST",
                                                url: "/Restaurant/OrderReady",
                                                data: JSON.stringify(orderId),
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                failure: function (response) {
                                                    console.log(response);
                                                },
                                                complete: function () {
                                                    $("#order-@order.OrderId").remove();
                                                }
                                            })
                                        });
                                    });
                    </script>
                </div>
            </div>
        </div>
    }
}


