@model IEnumerable<WebMvc.Models.Orders>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/js/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script src="~/js/orderReady.js"></script>

@foreach (var order in Model)
{
    @if (order.OrderStatus == WebMvc.Helpers.CustomEnums.OrderStatus.Ready)
    {
        <div class="col-md-4 col-12" id="order-@order.OrderId">
            <div class="card mb-2">
                <h5 class="card-header">New Order</h5>
                <div class="card-body">

                    <h5 class="card-title">
                        Address: @order.Address
                    </h5>
                    <h5 class="card-title">
                        Phone: @order.PhoneNumber
                    </h5>
                    
                    <p class="card-text">Total Price: @order.TotalPrice</p>

                    <button id="delivered-@order.OrderId" class="btn btn-success">Delivered</button>
                    <script>
                                    $(document).ready(function () {
                                        $("#delivered-@order.OrderId").click(function () {
                                            var orderId = @order.OrderId;

                                            $.ajax({
                                                type: "POST",
                                                url: "/Restaurant/OrderDelivered",
                                                data: JSON.stringify(orderId),
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                failure: function (response) {
                                                    console.log(response);
                                                },
                                                complete: function () {
                                                    $("#order-@order.OrderId").remove();
                                                }
                                            })
                                        });
                                    });
                    </script>

                </div>
            </div>
        </div>
    }
}