@model IEnumerable<WebMvc.Models.Orders>

<h2>Orders Panel</h2>
<div class="container">
    <div class="row">
        @if (User.Claims.Any(c => c.Value == "admin" || c.Value == "kitchen"))
        {
            <partial name="_KitchenOrders" model="Model" />
        }
        else if (User.Claims.Any(c => c.Value == "admin" || c.Value == "restaurant"))
        {
           <partial name="_RestaurantOrders" model="Model" />
        }
    </div>
</div>
               
